
/* transition */
@mixin transition($property){
    -webkit-transition: $property;
        transition: $property;
}

/* flex */
@mixin flex($property){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center
}

/* transform */
@mixin transform($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}


/* opacity */
@mixin opacity($opacity){
    opacity: $opacity;
    -ms-filter: $opacity;
}

@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin translateY($amnt) {
    -ms-transform: translateY($amnt);
    transform: translateY($amnt);
}

@mixin translateX($amnt) {
    -ms-transform: translateX($amnt);
    transform: translateX($amnt);
}

@mixin translateXY($x, $y) {
    -ms-transform: translateX($x) translateY($y);
    transform: translateX($x) translateY($y);
}

@mixin border_radius($amount) {
    -webkit-border-radius: $amount;
    -moz-border-radius: $amount;
    border-radius: $amount;
}

@mixin box_shadow($rule) {
    -moz-box-shadow: $rule;
    -webkit-box-shadow: $rule;
    box-shadow: $rule;
}

@mixin flex-box {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex-flow($values: (row nowrap)) {
    // No Webkit/FF Box fallback.
    -webkit-flex-flow: $values;
    -ms-flex-flow: $values;
    flex-flow: $values;
}

@mixin flex($fg: 1, $fs: 0, $fb: auto) {
    -webkit-box-flex: 0;
    -ms-flex: $fg $fs $fb;
    flex: $fg $fs $fb;
    max-width: $fb;
}

@mixin justify-content($value: flex-start) {
    @if $value == flex-start {
        -webkit-box-pack: start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
    } @else if $value == flex-end {
        -webkit-box-pack: end;
        -moz-box-pack: end;
        -ms-flex-pack: end;
    } @else if $value == space-between {
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
    } @else if $value == space-around {
        -ms-flex-pack: distribute;
    } @else {
        -webkit-box-pack: $value;
        -moz-box-pack: $value;
        -ms-flex-pack: $value;
    }
    -webkit-justify-content: $value;
    justify-content: $value;
}

@mixin col($col_name, $size) {
    #{$col_name}{
        &:not(.responsive) {
            @include flex(0, 0, (100% / 12) * $size);
        }

        &.responsive {
            @media (min-width: 992px) {
                @include flex(0, 0, (100% / 12) * $size);
            }
        }
    }
}

@mixin custom_check() {
    display: grid;
    grid-template-columns: auto 30px;
    grid-gap: 0.5em;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
    margin: .5rem 0;
    width: 100%;
}

@mixin custom_check_control() {
    display: block;
    width: 1.5em;
    height: 1.5em;
    border: solid 0.25em $border-color;
    position: relative;

    &:after {
        content: "";
        width: 1.5em;
        height: 1.5em;
        left: -.25em;
        top: -.25em;
        position: absolute;
        display: none;
    }
}

@mixin hide() {
    opacity: 0;
    height: 0;
    width: 0;
}

@mixin border_radius($amount) {
    -webkit-border-radius: $amount;
    -moz-border-radius: $amount;
    border-radius: $amount;
}

@mixin box_shadow($rule) {
    -moz-box-shadow:    $rule;
    -webkit-box-shadow: $rule;
    box-shadow:         $rule;
}