/*  04. banner section css here  */
.banner_section{
    margin-bottom: 70px;
    @media #{$large-mobile}{
        margin-bottom: 60px;
    }
}
.single_banner{
    @media #{$large-mobile}{
        margin-bottom: 30px;
    }
    &.bottom{
        @media #{$tablet-device}{
            margin-top: 30px;
        }
        @media #{$large-mobile}{
            margin-bottom: 0;
        }
    }
    
}
.banner_thumb{
    position: relative;
    overflow: hidden;
    & img{
        @include transition(.3s);
    }
    &:hover{
        &::before{
            opacity: 1;
        }
        & img{
            transform: scale(1.1);
        }
        
    }
}

.banner_content {
	position: absolute;
	top: 25px;
	left: 25px;
    & p{
        color: $secondary_color3;
        margin-bottom: 0;
    }
    & h2{
        color: $white !important;
        font-size: 24px;
        font-weight: 700;
        line-height: 27px;
        margin-bottom: 15px;
        @media #{$large-mobile}{
            font-size: 20px;
            line-height: 23px;
        }
        
    }
    & span{
        color: $fonts_color6;
    }
}


.messages_info {
	text-align: center;
    padding: 35px 0 32px;
    & p{
        color: $fonts_color6;
        & a{
            color: $secondary_color;
        }
    }
}



.banner_fullwidth{
    margin-bottom: 64px;
     @media #{$large-mobile}{
        margin-bottom: 55px;
    }
    & .row{
        height: 510px;
        @media #{$tablet-device}{
            height: 400px;
        }
        @media #{$large-mobile}{
           height: 310px;
        }
    }
}

.banner_text {
	text-align: center;
    cursor: pointer;
    @include transition(.3s);
    &:hover{
        transform: scale(1.05);
    }
    @media #{$laptop-device}{
        width: 90%;
        margin: 0 auto;
    }
    & P{
        font-size: 16px;
        margin: 0;
        color: $secondary_color;
        @media #{$large-mobile}{
            font-size: 15px;
        }
    }
    & h2{
        font-size: 50px;
        text-transform: capitalize;
        margin-bottom: 10px;
        color: $fonts_color6;
        font-weight: 700;
        line-height: 65px;
        @media #{$tablet-device}{
            font-size: 38px;
            line-height: 55px;
        }
        @media #{$large-mobile}{
            font-size: 22px;
            line-height: 42px;
        }
    }
    & > span{
        font-size: 16px;
        margin: 0;
        display: block;
        color: $fonts_color;
        @media #{$large-mobile}{
            font-size: 15px;
        }
    }
    & a{
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        color: $secondary_color;
        border: 2px solid $secondary_color;
        padding: 0 45px;
        border-radius: 3px;
        margin-top: 70px;
        line-height: 46px;
        display: inline-block;
        @media #{$tablet-device}{
            padding: 0 40px;
            margin-top: 50px;
            line-height: 44px;
        }
        &:hover{
            background: $secondary_color;;
            color: $body-color;
        }
        @media #{$large-mobile}{
            padding: 0 17px;
            margin-top: 20px;
            line-height: 34px;
            font-size: 12px;
        }
    }
}




/*home two css here*/
.home_banner_two{
    border-bottom: 0;
    @media #{$tablet-device}{
        margin-bottom: 63px;
    }
    @media #{$large-mobile}{
        margin-bottom: 23px;
    }
    & .banner_content{
        @media #{$large-mobile}{
            top: 8px;
        }
        & h2{
            @media #{$large-mobile}{
                font-size: 18px;
                margin-bottom: 6px;
            }
        }
    }
}




/*hpme four css here*/
.banner_section_four{
    background: #f7f7f7;
    border-bottom: 1px solid $grey_color;
    @media #{$laptop-device}{
        padding: 0 28px;
    }
    & .single_banner{
        cursor: pointer;
        position: relative;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
        height: 600px;
          @media #{$tablet-device}{
           background-size: contain !important;
        }
        @media #{$large-mobile}{
           background-size: contain !important;
        }
        &::before{
            content: "";
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            position: absolute;
           background: rgba(255,255,255,0.5);
            z-index: 1;
            opacity: 0;
            @include transition(.3s);
        }
        &:hover{
            &::before{
                opacity: 1;
            }
            & .banner_content{
                transform: scale(1.1);
            }
        }
        &.bottom{
             @media #{$tablet-device}{
               margin-top: 0;
            }
        }
    }
    & .single_two{
        border-left: 1px solid $grey_color;
        border-right: 1px solid $grey_color;
        @media #{$large-mobile}{
            border-left: 0;
            border-right: 0; 
        }
    }

    & .banner_content{
        bottom: 45px;
        text-align: center;
        top: inherit;
        z-index: 9;
        @include transition(.4s);
        left: 0;
        right: 0;
        & p{
            color: $secondary_color;
            font-size: 16px;
            margin-bottom: 12px;
        }
        & a{
            text-decoration: underline;
            color: $fonts_color;
            font-weight: 500;
            &:hover{
                color: $secondary_color;
            }
        }
        & h2{
             @media #{$tablet-device}{
                 font-size: 20px;
            }
        }
    }
}


.messages_four{
    border-bottom: 1px solid $grey_color;
    margin-bottom: 70px;
    @media #{$large-mobile}{
       margin-bottom: 60px;
    }
}





/*home five css here*/
.banner_black{
    border-bottom: 1px solid $secondary_color12;
    & .banner_content{
        @include transition(.5s);
        bottom: 25px;
        top: inherit;
        @media #{$large-mobile}{
           bottom: 15px;
        }
        & p{
            color: $white;
            margin-bottom: 10px;
        }
        & h2{
            color: $secondary_color13;
            font-weight: 400;
            font-family: $Prata;
            @media #{$desktop-device}{
                font-size: 21px;
                line-height: 23px;
                margin-bottom: 13px;
            }
            @media #{$tablet-device}{
                font-size: 21px;
                line-height: 23px;
                margin-bottom: 13px;
            }
            @media #{$large-mobile}{
               font-size: 21px;
                line-height: 23px;
                margin-bottom: 13px;
            }
            
        }
        & span{
            color: $white;
        }
    }
    & .banner_thumb{
        &:hover{
            & .banner_content{
                transform: scale(1.1);
            }
        }
    }
    & .messages_info{
        & p{
            position: relative;
            color: $white;
            display: inline-block;
            &::before{
                position: absolute;
                content: "\f243";
                font-family: "Ionicons";
                font-size: 18px;
                color: $secondary_color13;
                left: -26px;
                @media #{$large-mobile}{
                   display: none;
                }
            }
            & a{
                color: $secondary_color13;
            }
        }
    }
    &.black_two{
        border-bottom: 0;
        @media #{$large-mobile}{
           margin-bottom: 24px;
        }
    }
}

.black_fullwidth{
    & .banner_text{
        @media #{$desktop-device}{
            width: 90%;
            margin: 0 auto;
        }
        &:hover{
            transform: scale(1.1);
        }
        & p{
            color: $secondary_color13;
        }
        & h2{
            color: $white;
            font-family: $Prata;
            font-weight: 400;
        }
        & span{
            color: #a0a0a0;
        }
        & a{
            color: $secondary_color13;
            border: 2px solid $secondary_color13;
            &:hover{
                color: $white;
               background: $secondary_color13;
            }
        }
    }
}


.banner_section_five{
    border-bottom: 0;
    @media #{$large-mobile}{
       margin-bottom: 30px;
    }
    & .row{
        margin-right: 0;
        margin-left: 0;
    }
    & .single_banner{
        &.one{
            background: url(../img/bg/banner14.jpg);
            height: 300px;
            @media #{$large-mobile}{
                height: 242px;
            }
        }
        &.two{
            background: url(../img/bg/banner15.jpg);
            height: 300px;
            @media #{$large-mobile}{
                height: 242px;
            }
        }
        
    }
    & .banner_text{
        padding: 70px 0px;
        width: 500px;
        margin: 0 auto;
        @media #{$desktop-device}{
            width: 400px;
        }
        @media #{$large-mobile}{
            width: 90%;
            padding: 50px 0px
        }
        &:hover{
            transform: scale(1.1);
        }
        & p{
            color: $white;
            margin-bottom: 8px;
        }
        & h2{
            font-size: 30px;
            color: $secondary_color13;
            font-family: $Prata;
            font-weight: 400;
            line-height: 44px;
            @media #{$large-mobile}{
                font-size: 18px;
                line-height: 23px;
            }
        }
        & span{
            color: $white;
        }
        & a{
            margin-top: 26px;
	        line-height: 22px;
            border: 0;
	        padding: 0;
            color: $secondary_color13;
            font-weight: 400;
            &:hover{
                background: none;
            }
        }
    }
}




/*home right css here*/

.banner_black{
    &.black_eight{
        & .single_banner{
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center center;
            background-size: cover;
            height: 600px;
            position: relative;
            cursor: pointer;
            &::before{
                content: "";
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                background: rgba(0,0,0,0.5);
                z-index: 1;
                opacity: 0;
                -webkit-transition: 0.3s;
                transition: 0.3s;
                pointer-events: none;
            }
            &:hover{
                &::before{
                    opacity: 1;
                }
                & .banner_content{
                    transform: scale(1.05);
                }
            }
            &.bottom{
                @media #{$tablet-device}{
                    margin-top: 0;
                }
            }
            &.banner_two{
                border-left: 1px solid $secondary_color12;
                border-right: 1px solid $secondary_color12;
            }
        }
        & .banner_content{
            text-align: center;
            left: 0;
            right: 0;
            z-index: 9;
            @include transition(.3s);
            & p{
                color: $secondary_color13;
            }
            & h2{
                color: $white;
                @media #{$tablet-device}{
                    font-size: 18px;
                }
            }
            & a{
                text-decoration: underline;
                color: #a0a0a0;
                font-weight: 500;
                &:hover{
                    color: $secondary_color13;
                }
            }
        }
    }
}





.banner_fullwidth{
    &.black_two{
        & .banner_text{
            & img{
                @media #{$large-mobile}{
                   max-width: 150px;
                }
            }
            & h2{
                color: $white;
                font-family: $Prata;
                font-size: 48px;
                font-weight: 400;
                @media #{$large-mobile}{
                    font-size: 22px;
                }
                & span{
                    color: $secondary_color13;
                }
            }
            & > span{
                color: #a0a0a0;
            }
            & a{
                color: $secondary_color13;
                border-color: $secondary_color13;
                &:hover{
                    background: $secondary_color13;
                    color: $white;
                }
            }
            
        }
    }       

}


.home_banner9{
    margin-bottom: 74px;
    @media #{$large-mobile}{
       margin-bottom: 23px;
    }
}
















