/* 22. wishlist css here */
.table_desc.wishlist table tbody tr:last-child td {
	border-bottom: 0;
}
.table_desc.wishlist{
    & table{
        & tbody{
            & tr{
                & td{
                    &.old_price{
                        color: $fonts_color;
                        text-decoration: line-through;
                    }
                    &.current_price{
                        color: $text-priment;
                    }
                    &.product_quantity{
                        color: $text-priment;
                    }
                    &.product_total{
                        & a{
                            background:  $fonts_color6;
                            font-size: 12px;
                            font-weight: 700;
                            height: 38px;
                            line-height: 18px;
                            padding: 9px;
                            color: $white;
                            border-radius: 3px;
                            &:hover{
                                background: $secondary_color13;
                            }
                        }
                    }
                }
            }
        }
    }
}


.wishlist_share {
	text-align: center;
	padding: 20px 0;
	border: 1px solid $grey_color;
    & h4{
        font-size: 18px;
        color: $fonts_color6;
        font-weight: 700;
        text-transform: capitalize;
    }
    & ul{
        & li{
            display: inline-block;
            & a{
                padding: 0 10px;
                color: $fonts_color6;
                display: block;
                &:hover{
                    color:  $secondary_color;
                }
            }
        }
    }
}


.wishlist_area {
	padding-bottom: 70px;
    @media #{$large-mobile}{
       padding-bottom: 60px;
    }
}

/*wishlist css end*/
